@import url('https://fonts.google.com/specimen/Inter');


:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
}


*{
  outline: 1px solid red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  width: 100vw;

  padding:  5%;

  font-family: 'Inter', sans-serif;
  background-color: var(--offWhite);

}
